
footer {
    padding: 5px 0;
    margin-bottom: 0px;
    background-color: rgb(248, 205, 230);
    text-align: center;
}

.sns-icons{
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    gap: 16px;                 /* space between icons */
    padding: 20px 0;
}

