*{
    padding: 0px;
    margin: 0px;
}
/* header nav */
header {
    background-color:rgb(248, 205, 230);
    top: 0;
    padding: 5px;
    position: sticky;
    z-index: 1000;
}
.header-container {
	width: 85%;
    margin: 0 5%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    list-style: none;
}

nav li {    
    padding: 5px;
}

.logo{
    font-weight: bold;
    display: flex;
    flex-wrap: reverse;
    font-size: 1.5rem;
    color: #3a007a;
    text-decoration: none;
}


ul li a {
    text-decoration: none;
    color: #3a007a;
}