.random-novels{
    width: 75%;
    border: 1px;
    border-radius: 10px;
    position: relative;
    padding: 40px 20px;
    overflow: hidden;
    margin: 40px auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.random-novels {
  background: linear-gradient(135deg, #fff 0%, #ffe4ef 100%);
}


.random-novels .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.image-box {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box img {
  width: 57%;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  top: 0;
  left: 0;
  /* opacity: 0;
  transition: opacity 10s ease-in-out; */
}

.details-box {
  flex: 1;
  font-family: 'Arial', sans-serif;
  color: #555;
}

.details-box h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #e91e63; 
}

.details-box p {
  font-size: 1.1rem;
  line-height: 1.6;
}

